@keyframes expandHeight {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100vh;
  }
}

.outerContainer {
  padding: var(--spacing-level8);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}
.outerUl {
  list-style-type: none;
  padding: var(--spacing-level3);
}

.listContainer {
  border-radius: 12px;
  flex-wrap: wrap;
  overflow: hidden;
  animation: expandHeight 10s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: reduce) {
  .listContainer {
    animation: none;
  }
}

.innerContainer {
  padding: var(--spacing-level3);
  min-height: 60vh;
  border-radius: 15px;
  font-family: "Jedi";
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: va;
}

/* light side */
.lightInnerContainer {
  background-color: rgba(3, 169, 244, 0.1);
  box-shadow: 0 0 10px var(--light-side);
}

/* dark side */
.darkInnerContainer {
  background-color: rgba(67, 0, 0, 0.4);
  box-shadow: 0 0 10px var(--dark-side);
}
