:root {
  --background-color: #0b0b0b;
  --light-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --star-yellow: #ffe81f;
  --dark-side: #a50000;
  --light-side: #03a9f4;
}
