:root {
  --spacing-level1: 4px;
  --spacing-level2: 8px;
  --spacing-level3: 10px;
  --spacing-level4: 12px;
  --spacing-level5: 16px;
  --spacing-level6: 20px;
  --spacing-level7: 24px;
  --spacing-level8: 36px;
  --spacing-level9: 48px;
}
